torch
transformers
safetensors
peft
bitsandbytes
datasets
pandas
numpy<2
matplotlib
sentence-transformers
bert-score
faiss-cpu
mlflow
gensim
nltk
huggingface_hub
pybind11
accelerate
tf-keras
keras
pyngrok
sentencepiece